#myProfile .detailsWrapper {
    width: 947px;
    display: flex;
}
#myProfile .detailsWrapper .personalDetailsWrapper {
    height: 282px;
    width: 492px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 2px 15px 0 #d2d2d2;
    margin-right: 30px;
}
#myProfile .detailsWrapper .personalDetailsWrapper .headerWrapper {
    height: 65px;
    border-radius: 6px 6px 0 0;
    background-color: #F7941D;
    display: flex;
}
#myProfile .detailsWrapper .personalDetailsWrapper .headerWrapper .headerTxt {
    margin: 0;
    color: #fffaf4;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 1.33px;
    padding: 20px 30px;
    flex: 1;
}
#myProfile .detailsWrapper .personalDetailsWrapper .headerWrapper .editPersonalDetails {
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0.78px;
    line-height: 17px;
    padding: 26px 21px 22px 0;
    position: relative;
}
#myProfile .detailsWrapper .personalDetailsWrapper .headerWrapper .editPersonalDetails::before {
    content: '';
    display: inline-block;
    width: 11px;
    height: 11px;
    background: url(../../../assets/images/edit_white.svg);
    position: absolute;
    top: 0;
    bottom: 0;
    left: -17px;
    margin: auto;
}
#myProfile .detailsWrapper .personalDetailsWrapper .personalDetailsContent {
    height: 217px;
    padding: 20px 55px 25px 20px;
    position: relative;
}
#myProfile .personalDetailsContent .addProfilePhoto {
    display: inline-block;
    height: 70px;
    width: 70px;
    background-color: #FFF4E7;
    border-radius: 50%;
    color: #757575;
    padding: 20px;
    font-size: 12px;
    letter-spacing: -0.15px;
    line-height: 14px;
    text-align: center;
    cursor: pointer;
    position: relative;
}
#myProfile #profileImage {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    object-fit: contain;
    display: none;
}
#myProfile input, #myProfile select {
    border: none;
    border-bottom: 1px solid #979797 !important;
    border-radius: 0;
    font-size: 14px;
}

#ProfileimageUpload {
    display: none;
}
#myProfile .personalDetailsContent .titleWrapper {
    position: absolute;
    top: 20px;
    left: 115px;
}
.personalDetailsContent label {
    color: #2E2C38;
    font-size: 14px;
    letter-spacing: -0.15px;
    line-height: 14px;
}
#myProfile input, #myProfile select {
    border: none;
    border-bottom: 1px solid #979797 !important;
    border-radius: 0;
    font-size: 14px;
}

#myProfile select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../../../assets/images/downBlack.svg) no-repeat;
    background-position: 100%;
    width: 100%;
}
#myProfile .personalDetailsContent .fnameWrapper {
    position: absolute;
    top: 20px;
    left: 222px;
}
.personalDetailsContent label {
    color: #2E2C38;
    font-size: 14px;
    letter-spacing: -0.15px;
    line-height: 14px;
}
#myProfile input, #myProfile select {
    border: none;
    border-bottom: 1px solid #979797 !important;
    border-radius: 0;
    font-size: 14px;
}
#myProfile .personalDetailsContent .snameWrapper {
    position: absolute;
    top: 97px;
    left: 115px;
}
.personalDetailsContent label {
    color: #2E2C38;
    font-size: 14px;
    letter-spacing: -0.15px;
    line-height: 14px;
}
#myProfile input, #myProfile select {
    border: none;
    border-bottom: 1px solid #979797 !important;
    border-radius: 0;
    font-size: 14px;
}
#myProfile .personalDetailsContent .dobWrapper {
    position: absolute;
    top: 97px;
    left: 329px;
}
.personalDetailsContent label {
    color: #2E2C38;
    font-size: 14px;
    letter-spacing: -0.15px;
    line-height: 14px;
}
#myProfile .dateClass {
    background: url(../../../assets/images/dateIcon.svg) !important;
    background-repeat: no-repeat !important;
    background-position: 94% 0px !important;
    cursor: pointer;
}

#myProfile input, #myProfile select {
    border: none;
    border-bottom: 1px solid #979797 !important;
    border-radius: 0;
    font-size: 14px;
}
#myProfile .personalDetailsContent .changePassword {
    position: absolute;
    top: 172px;
    left: 146px;
    color: #424242;
    font-size: 12px;
    letter-spacing: 0.67px;
    line-height: 15px;
}
#myProfile .personalDetailsContent .changePassword::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 23px;
    background: url(../../../assets/images/lockgrey.svg) no-repeat;
    position: absolute;
    top: -8px;
    left: -30px;
}
#myProfile input:disabled {
    background: white;
    color: #757575;
}
#myProfile select:disabled {
    -moz-appearance: none;
    appearance: none;
    background: url(../../../assets/images/down.svg) no-repeat;
    background-position: 100%;
}
#myProfile .dateClass:disabled {
    background: url(../../../assets/images/dateIcongrey.svg) !important;
    background-repeat: no-repeat !important;
    background-position: 94% 0px !important;
}
.personalDetailsWrapper .redeemNow {
    display: block;
    height: 30px;
    width: 120px;
    border-radius: 6px;
    background-color: #ED1C24;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 1.56px;
    line-height: 17px;
    text-align: center;
    color: #ffffff;
    padding: 8px 0;
    margin: 0 auto;
    position: absolute;
    right: 50px;
    bottom: 18px;
}
#myProfile .detailsWrapper .profileProgressionWrapper {
    height: auto;
    width: 424px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 2px 15px 0 #d2d2d2;
}
#myProfile .detailsWrapper .profileProgressionWrapper .profileProgressContentWrapper {
    position: relative;
    height: 282px;
    padding: 35px 21px 27px 26px;
    background: url(../../../assets/images/design01_small.png) no-repeat;
    background-position: 0px 87%;
}
#myProfile .detailsWrapper .profileProgressionWrapper .profileProgressContentWrapper .subWrapper {
    display: flex;
    position: relative;
}
#myProfile .detailsWrapper .profileProgressionWrapper .profileProgressContentWrapper .subWrapper .profileIcon {
    width: 58px;
    height: 50px;
    border-radius: 50%;
    background: url(../../../assets/images/MYPROFILE.svg) no-repeat center;
    margin-left: 9px;
}
#myProfile .detailsWrapper .profileProgressionWrapper .profileProgressContentWrapper .profileCompletenessWrapper {
    padding: 0 0 0px 25px;
}
#myProfile .detailsWrapper .profileProgressionWrapper .profileProgressContentWrapper .profileCompletenessWrapper .header {
    margin: 0;
    color: #424242;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.83px;
    line-height: 18px;
    padding: 0 0 18px 0px;
}
#myProfile .detailsWrapper .profileProgressionWrapper .profileProgressContentWrapper .profileCompletenessWrapper .progressBar {
    padding: 0 0 14px 0;
    position: relative;
}
#myProfile .detailsWrapper .profileProgressionWrapper .profileProgressContentWrapper .subWrapper .progressBar .progressBarImg {
    height: 8px;
    width: 260px;
    background: url(../../../assets/images/loader_empty.svg) no-repeat;
}
#myProfile .progressBarAnimateImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 260px;
    height: 8px;
    overflow: hidden;
    border-radius: 6px;
}
#myProfile .progressBarAnimateImg .loaderFiller.ani50 {
    animation: 2s profileLoader50;
    left: -116px;
}

#myProfile .progressBarAnimateImg .loaderFiller {
    width: 260px;
    height: 8px;
    background: url(../../../assets/images/loader_fill.svg) no-repeat;
    position: absolute;
    top: 0;
}
#myProfile .detailsWrapper .profileProgressionWrapper .profileProgressContentWrapper .profileCompletenessWrapper .getPoints {
    color: #424242;
    font-size: 13px;
    letter-spacing: 0.67px;
    line-height: 15px;
    width: 265px;
    margin: 0;
    padding: 0 0 22px 0;
    position: relative;
}
#myProfile .detailsWrapper .profileProgressionWrapper .profileProgressContentWrapper .profileCompletenessWrapper .getPoints::after {
    content: '';
    height: 2px;
    width: 377px;
    border: 1px solid #979797;
    opacity: 0.3;
    position: absolute;
    bottom: 0;
    left: -87px;
}
#myProfile .detailsWrapper .profileProgressionWrapper .profileProgressContentWrapper .cardWrapper {
    position: relative;
}
#myProfile .detailsWrapper .profileProgressionWrapper .profileProgressContentWrapper .cardWrapper .cardWrapperContent {
    display: flex;
    padding: 30px 0 0 46px;
    flex-wrap: wrap;
}
#myProfile .detailsWrapper .profileProgressionWrapper .profileProgressContentWrapper .cards {
    cursor: pointer;
    height: 90px;
    width: 90px;
    border: 1px solid #F7941D;
    border-radius: 4px;
    background-color: #FFFFFF;
    margin-right: 7.5px;
    margin-left: 7.5px;
    padding: 11px 9px 13px 12px;
    position: relative;
}
#myProfile .detailsWrapper .profileProgressionWrapper .profileProgressContentWrapper .cards .header {
    margin: 0;
    text-align: center;
    color: #424242;
    font-size: 12px;
    letter-spacing: 0.67px;
    line-height: 15px;
    padding: 0 0 9px 0;
}
#myProfile .detailsWrapper .profileProgressionWrapper .profileProgressContentWrapper .cards .valueWrapper {
    text-align: center;
}
#myProfile .detailsWrapper .profileProgressionWrapper .profileProgressContentWrapper .cards .value {
    font-style: normal;
    color: #212121;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.89px;
    line-height: 19px;
}
#myProfile .detailsWrapper .profileProgressionWrapper .profileProgressContentWrapper .cards {
    cursor: pointer;
    height: 90px;
    width: 90px;
    border: 1px solid #F7941D;
    border-radius: 4px;
    background-color: #FFFFFF;
    margin-right: 7.5px;
    margin-left: 7.5px;
    padding: 11px 9px 13px 12px;
    position: relative;
}
#myProfile .detailsWrapper .profileProgressionWrapper .profileProgressContentWrapper .cardWrapper .cardWrapperContent .cards:last-child {
    background-color: #FFF4E7;
}

#myProfile .detailsWrapper .profileProgressionWrapper .profileProgressContentWrapper .cards {
    cursor: pointer;
    height: 90px;
    width: 90px;
    border: 1px solid #F7941D;
    border-radius: 4px;
    background-color: #FFFFFF;
    margin-right: 7.5px;
    margin-left: 7.5px;
    padding: 11px 9px 13px 12px;
    position: relative;
}
#myProfile .detailsWrapper .profileProgressionWrapper .profileProgressContentWrapper .cards .addMoreDetails {
    color: #424242;
    font-size: 12px;
    letter-spacing: 0.67px;
    line-height: 15px;
    position: absolute;
    top: 32px;
    bottom: 35px;
    left: 19px;
    right: 11px;
    text-decoration: underline;
    cursor: pointer;
}
#myProfile .detailsWrapper .profileProgressionWrapper .profileProgressContentWrapper .AddDetailsPopUpWrapper {
    display: none;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 15px 0 #d2d2d2;
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
}
#myProfile .detailsWrapper .profileProgressionWrapper .profileProgressContentWrapper .AddDetailsPopUp {
    width: 370px;
    height: auto;
    padding: 20px 25px;
    display: flex;
    flex-wrap: wrap;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 15px 0 #d2d2d2;
    position: absolute;
    z-index: 999;
    top: 133px;
    left: 0;
}
#myProfile .detailsWrapper .profileProgressionWrapper .profileProgressContentWrapper .AddDetailsPopUp .header {
    margin-left: 7px;
    width: 100%;
    font-size: 12px;
    color: #757575;
    font-weight: 400;
    letter-spacing: 0.67px;
    line-height: 15px;
}
#myProfile .detailsWrapper .profileProgressionWrapper .profileProgressContentWrapper .AddDetailsPopUp .header.close {
    position: absolute;
    right: 20px;
    width: auto;
    opacity: 1;
    padding-right: 40px;
    background: url(../../../assets/images/crosspoint.svg) no-repeat;
    background-position: 70% 2px;
    top: 20px;
}
#myProfile .detailsWrapper .profileProgressionWrapper .profileProgressContentWrapper .cards .header {
    margin: 0;
    text-align: center;
    color: #424242;
    font-size: 12px;
    letter-spacing: 0.67px;
    line-height: 15px;
    padding: 0 0 9px 0;
}
#myProfile .detailsWrapper .profileProgressionWrapper .profileProgressContentWrapper .AddDetailsPopUp .cards {
    margin-top: 7px;
    margin-bottom: 9px;
}