  <div id="myFlights">
        <div class="detailsWrapper">
            <div class="tabWrapper">
                <!-- Nav pills -->
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="pill" href="#upcoming">Upcoming</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#completed">Completed</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#cancelled">Cancelled</a>
                    </li>
                </ul>
                <div class="searchPNR">
                    <input type="text" placeholder="Enter PNR no/ city" class="form-control">
                </div>
            </div>