<div class="dashboardTabsWrapper">
<div class="tabMenuListWrapper">
        <div class="dashboard NavbarWrapper">
            <div class="subWrapper">
                <div class="spiceclubLogo"></div>
                <p class="myAccountCaption">My Account</p>
                <div class="userIcon">
                    <var class="userInitials">CM</var>
                </div>
                <div class="userDetail">
                    <p class="userGreeting"><var>Constanza</var>
                        <br><var>Mariano</var></p>
                    <p class="userCurrentTier"><var>Silver</var> Tier Member</p>
                </div>
            </div>
        </div>
        <ul class="nav nav-pills mb-3" id="Main-tab" role="tablist">
            <li><a id="main-profile-tab" routerLink="myprofile" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">My Profile</a></li>
            <li><a id="main-trip-tab" routerLink="/page-not-found">My Trips</a></li>
            <li><a id="main-spceclub-tab" routerLink="/page-not-found">SpiceClub</a></li>
            <li><a id="main-spicecash-tab" routerLink="/page-not-found">SpiceCash</a></li>
            <li><a id="main-offers-tab" routerLink="/page-not-found">Offers</a></li>
        </ul>
    </div>
    <div>
        <router-outlet></router-outlet>
    </div>
    </div>