<nav class="navbar navbar-expand-lg navbar-default navbar-light loginPage">
  <div class="wrapper">
      <div class="navlogo">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="../assets/images/spicejetlogo@3x.png" alt="SpiceClub"/></a>
      </div>
      <div class="navmenu navbar-collapse customNavMenuWrapper">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item"><a class="nav-link" routerLink="/page-not-found">BOOK</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="/page-not-found">ADD ONS</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="/page-not-found">DEALS</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="/page-not-found">GIFTCARD</a></li>
              <li class="nav-item"><a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link" routerLink="/FlyClub/myprofile">SPICECLUB</a></li>
          </ul>
      </div>
      <div class="collapse navbar-collapse navrightSec hamburgerMenu" id="navbarSupportedContent">
          <img src="../assets/images/SpiceClubLogo.png" alt="SpiceClub"/>
          <h2>Welcome to Spiceclub!</h2>
          <div class="hamburgerButtonWrapper">
              <a href="javascript::void(0)" class="hamburgerLogin">Login</a>
              <a href="javascript::void(0)" class="hamburgerContact">Contact Us</a>
          </div>
          <ul class="navbar-nav ml-auto">
              <li class="nav-item"><a class="nav-link" href="#">BOOK</a></li>
              <li class="nav-item"><a class="nav-link" href="#">ADD ONS</a></li>
              <li class="nav-item"><a class="nav-link" href="#">DEALS</a></li>
              <li class="nav-item"><a class="nav-link" href="#">GIFTCARD</a></li>
              <li class="nav-item"><a class="nav-link" href="#">SPICECLUB</a></li>
          </ul>
      </div>
      <div class="navrightSec loginPage">
          <ul class="loginnav navbar-nav mr-auto">
              <li class="nav-item faqdetails dropdown">
                  <a href="#" class="nav-link"><img src="../assets/images/help.svg" width="24" height="24" alt="help"/></a>
                  <div class="dropdown-menu dropdown-menu-right">
                      <a class="dropdown-item" href="faq.html">FAQs Page</a>
                  </div>
              </li>
              <li class="nav-item contactdetails dropdown">
                  <a href="#" class="nav-link"><img src="../assets/images/icon_Contact_24x24.svg" width="24" height="24" alt="contact"/></a>
                  <div class="dropdown-menu dropdown-menu-left">
                      <h2>Contact Us</h2>
                      <a class="dropdown-item" href="#">+91 987 180 3333</a>
                      <a class="dropdown-item" href="#">+91 965 400 3333</a>
                      <h2 class="dropdown-item">Email</h2>
                      <a class="dropdown-item" href="#">support@spicejet.com</a>
                  </div>
              </li>
              <li class="nav-item contactdetails dropdown currentUserActions">
                  <a href="#" class="nav-link">John Smith</a>
                  <div class="dropdown-menu dropdown-menu-left">
                      <a class="dropdown-item" href="#">Log Out</a>
                  </div>
              </li>
          </ul>
      </div>
  </div>
</nav>
<router-outlet></router-outlet>